<h1>Notify comment</h1>

<p>
  Hi <%=@user.first_name %>,
  您有新留言！
  <br>
  針對<%= @comment.commentable.scheduled_date %>行程：
  <br>
  留言種類：<%= @comment.comment_category.name %>
  <br>
  留言內容：<%= @comment.content %>
  <br>
	<%= link_to "觀看留言", schedule_url(@user, :related_id => @user.caregiver.id) if @user.caregiver %>
	<%= link_to "觀看留言", schedule_url(@user, :related_id=> @user.requester.id) if @user.requester %>
</p>
