<h1>重要事項已完成</h1>

<p>
  <%= @user.first_name %> 先生/小姐, 您好
  <br>
  您的家屬已完成<%= @demands %>
  <br>
  詳盡流程請點：<br>
  <% if @demand_ids.include?(21) %>
    收縮壓：<%= @health_record.systolic_record%>
    <br>
    舒張壓：<%= @health_record.diastolic_record%>
    <br>
    心跳： <%= @health_record.heart_rate%>
    <br>
  	<%= health_record_url(@user.requester) %>
  <% elsif @demand_ids.include?(22) %>
    血糖：<%= @health_record.blood_sugar%>
    <%= health_record_url(@user.requester) %>
  <% else %>
  	<%= schedule_url(@event.schedule.caregiver) %>
  <% end %>
  <br>
  您的照顧者: <%= @event.schedule.caregiver.user.last_name + @event.schedule.caregiver.user.first_name %>
  <br>
  已於<%= @event.complete_time %>完成
</p>