
<div class="row">
  <div class="col-md-12">
    <% if flash[:notice].present? %>
      <div class="alert alert-success" role="alert" style="text-align: center">
        <%= notice %>
      </div>
    <% end %>
    <% if flash[:alert].present? %>
      <div class="alert alert-danger" role="alert" style="text-align: center">
        <%= alert %>
      </div> 
    <% end %>  
  </div>
</div>

<div class= "text-center" style="margin-bottom:30px;margin-top:30px;" >
	<h2 style="font-weight:bold">用藥記錄</h2>
</div>

<div style="background-color:#F9FAFA; padding: 40px;border-radius: 10px;" >
		<table class="med table table-bordered" style="border:2px #000 solid;">
			<tr style="background-color:#F8F7E5;">
				<th width=15%>上傳時間</th>
				<th>處方簽</th>
				<!-- <th style="padding:10px 25px 10px 25px;">錯誤移除檔案</th> -->
			</tr>
			<tr>
				<% @medications.each do |medication|%>
				<% if medication.medication_time.id == 1 %>
					<th><%= medication.created_at.to_date %></th>
					<th>
						<div class="image-container">
							<%= link_to image_tag( medication.picture.url(:large) ), medication.picture.url(:large)  %>					
							<div class="remove text-center">
								<%= link_to "移除圖片", requester_medication_path(@requester, medication), method: :delete %></th>
							</div>
						</div>
				<% end %>
			</tr>
			<% end %>
		</table>

		<table class="med table table-bordered text-center" style="border:2px #000 solid;">
			<tr style="background-color:#E8F7DA;">
				<th width=15%>上傳時間</th>
				<th>服用時間</th>
				<th>藥物</th>
			</tr>
			<tr>
				<% @medications.each do |medication|%>
				<% unless medication.medication_time.id == 1 %>
					<th><%= medication.created_at.to_date %></th>
					<th><%= medication.medication_time.name %></th>
					<th>
					<div class="image-container meal">
						<%= link_to image_tag( medication.picture.url(:medium) ), medication.picture.url(:large)  %>
				  	<div class="remove text-center">
				  		<%= link_to "移除圖片", requester_medication_path(@requester, medication), method: :delete %></th>	
				  	</div>
				  </div>
			  <% end %>
			</tr>
			<% end %>
		</table>

</div>

	
<div class= "text-center" style="margin-bottom:30px;margin-top:30px;" >
	<h2 style="font-weight:bold">上傳檔案</h2>
</div>

<div style=" padding: 40px;border:2px #DFDFDF solid; border-radius: 10px;"  >
	<div class="center-block", style="width:35%">
		<%= form_for [ @requester, @medication ], :html => {:class => 'inline'} do |m| %>
			<div class="field form-group" style="margin-bottom:15px">
				<%= m.label :檔案類型 %>
			 	<%= m.collection_select( :time_id, MedicationTime.all, :id, :name, {}, :class => "form-control") %>
		 	</div>

			<div class="field form-group" style="margin-bottom:30px">
				<%= m.label :選擇檔案 %>
				<%= m.file_field :picture, :class => "form-control" %>
			</div>
			<div class="text-center">
		 	<%= m.submit "上傳", class: 'btn upload'%>
		 	</div>
		<% end %>
			
	</div>
</div>
<br>

<script>
   $("#medication_time_id").select2({
 placeholder: 'Select an option'
   });
</script>