<h1><%= @caregiver.user.first_name %>行程</h1>

<table class="table table-bordered">	
<tr>
	<th></th>
<% @schedules.each do |s| %>
	<th class= "text-center"><%= s.scheduled_date %></th>
<% end %>
</tr>

<% TimeZone.all.each do |t| %>
	<% if t.event.try(:schedule).try(:caregiver) == @caregiver %>
	<tr>
		<td style="font-weight:bold"><%= t.zone  %></td>
		<% @schedules.each do |s| %> 
			<td>
			<% Event.where(:schedule => s, :time_zone => t).each do |e| %>
				<%= e.try(:requester).try(:user).try(:first_name)	 %><br>
				<% e.try(:demands).try(:each) do |d| %>
					<%= d.demand_name %><br>
				<% end %>		
			<% end %>	
			</td>
		<% end %>		
	</tr>	
	<% end %>
<% end %>

</table>	

<!--
<% @schedules.each do |s| %>
<table>	
	<td>
	<%= s.scheduled_date %>
	</td>
	<% s.events.each do |e| %>
		<td><%= e.requester.user.first_name %></td>
		<td><%= e.time_zone.zone %></td>
		<% e.demands.each do |d| %>
			<td><%= d.demand_name %></td>
		<% end %>
	<% end %>
</table>	
<% end %>
-->

<% @requesters.each do |r| %>
	<%= r.user.first_name %>
	<%= link_to "schedule", schedule_path(r) %>
	<%= link_to "health_info", health_record_path(r) %>
	<br>
<% end %>
