<h1><%= @target.user.first_name %>行程</h1>

<table class="table table-bordered">	
<tr>
	<th></th>
<% @schedule_dates.each do |d| %>
	<th class= "text-center"><%= d %></th>
<% end %>
</tr>

<% TimeZone.all.each do |t| %>
	<% if @timezones.include?(t) %>
	<tr>
		<td style="font-weight:bold"><%= t.zone  %></td>
		<% @schedule_dates.each do |d| %> 
			<td>
			<% @schedules.where(:scheduled_date => d).each do |s| %>
				<% Event.where(:schedule => s, :time_zone => t).each do |e| %>
				<% if current_user.caregiver %>
					<%= e.schedule.requester.user.first_name	 %>
				<% else %>
					<%= e.schedule.try(:caregiver).try(:user).try(:first_name)	 %>
				<% end %>
				<br>
					<% e.try(:demands).try(:each) do |d| %>
						<%= d.demand_name %><br>
					<% end %>		
				<% end %>	
			<% end %>
			</td>
		<% end %>		
	</tr>	
	<% end %>
<% end %>

</table>	

<% @related_users.each do |r| %>
	<%= r.user.first_name %>
	<%= link_to "schedule", schedule_path(r) %>
	<%= link_to "health_info", health_record_path(r) if current_user.caregiver %>
	<br>
<% end %>

<%= link_to "health_info", health_record_path(@target) if current_user.requester %>
