<div class= "text-center" style="margin-bottom:30px;margin-top:30px;" >
	<h2 style="font-weight:bold"><%#= @target.user.first_name %>行程</h2>
</div>
<h4>居家服務員：<%= @requester.caregivers.first.user.full_name %></h4>

<div class="schedule" style="background-color:#F9FAFA; padding: 40px" >
<table class="table table-bordered text-center" style="border:2px #000 solid;" >	
<tr style="background-color:#F8F7E5 " >
	<th width=10% class= "text-center">時間</th>
<% @schedule_dates.each do |d| %>
	<th class= "text-center" style="font-weight:normal;border-bottom:3px #7F7F7F solid;">
		<%= d %>
		<% if d.wday == 0 %>
		 (日)
		<% end %> 
		<% if d.wday == 1 %>
		 (一)
		<% end %> 
		<% if d.wday == 2 %>
		 (二)
		<% end %>
		<% if d.wday == 3 %>
		 (三)
		<% end %>
		<% if d.wday == 4 %>
		 (四)
		<% end %>
		<% if d.wday == 5 %>
		 (五)
		<% end %>
		<% if d.wday == 6 %>
		 (六)
		<% end %>

	</th>
<% end %>
</tr>

<% TimeZone.all.each do |t| %>
	<% if @timezones.include?(t) %>
	<tr>
		<td style="background-color:#F8F7E5 ;border-right:3px #7F7F7F solid;"><%= t.to_time  %></td>
		<% @schedule_dates.each do |d| %> 
			<td style="font-weight:bold" >
			<% @schedules.where(:scheduled_date => d).each do |s| %>
				<% Event.where(:schedule => s, :time_zone => t).each do |e| %>

				<%# if current_user.requester %>
					<%#= e.schedule.caregiver.user.first_name	 %>
				<%# else %>
					<%#= e.schedule.requester.user.first_name	 %>
				<%# end %>
					<%= e.demands.first.demand_name %>
					<% if e.complete_time == nil %>
						(未完成)
					<% else %>
						(已完成)
					<% end %>
					<%# e.try(:demands).try(:each) do |d| %>
						<%#= d.demand_name %><br>
					<%# end %>		
				<% end %>	
			<% end %>
			</td>
		<% end %>		
	</tr>	
	<% end %>
<% end %>
</table>	
<table class="table table-bordered text-center" style="border:2px #000 solid;"	>	

	<tr>
		<td width=10% style="font-weight:bold; background-color:#E8F7DA; border-right:2px #000 solid;">
		 行程意見
	
		<%#= form_for @schedules, :url=>schedule_path(current_user) do |f| %>
		</td>
		<% @schedule_dates.each do |d| %>
		  <td>
				<% @schedules.where(:scheduled_date => d).each do |s| %>
			  	<% if s.requester_confirmed == false %>
			  		不同意
			  	<% else %>
			  		同意
			  	<% end %>

			 </td>	
			<% end %>    
		<% end %>
		</tr>
		<%#= f.submit %>		
</table>	
<table class="table table-bordered" style="border:2px #000 solid;" 	>	
<div>
	<tr>
		<td width=10% style="font-weight:bold; background-color:#E8EFF8; border-right:2px #000 solid;" class=" text-center" >留言</td>
		<% @schedule_dates.each do |d| %>
		  <td style="color:#F16F90">
				<% @schedules.where(:scheduled_date => d).each do |s| %>
			  	<% s.comments.each do |c|%>
			  	<div style="color:#000;	text-decoration:underline;">
			  		By 
			  		<% if User.find(c.user_id).requester %>
			  		  家屬
			  		<% else %>
			  		  居服員
			  	  <% end %>   
			  		<%#=	User.find(c.user_id).first_name %><br>
			  	</div>	
						<%=	c.comment_category.name %>: <br>
						<%=	c.content %><br>
						
			  	 <% end %>
			 </td>	
			<% end %>    
		<% end %>
	</tr>
</div>		
</table>	
	


</div>
