<h1><%= @requester.user.first_name %>行程</h1>

<table class="table table-bordered">	
<tr>
	<th></th>
<% @schedules.each do |s| %>
	<th class= "text-center"><%= s.scheduled_date %></th>
<% end %>
</tr>

<% TimeZone.all.each do |t| %>
	<% if t.event.try(:schedule).try(:caregiver) == @caregiver and t.event.try(:requester)==@requester %>
	<tr>
		<td style="font-weight:bold"><%= t.zone  %></td>
		<% @schedules.each do |s| %> 
			<td>
			<% Event.where(:schedule => s, :time_zone => t).each do |e| %>			 
				<%= e.try(:requester).try(:user).try(:first_name)	 %>
				<br>
				<%= e.caregiver_confirm %>
				<%= e.requester_confirm %>
				<br>
				<% e.try(:demands).try(:each) do |d| %>
					<%= d.demand_name %><br>
				<% end %>	
			<% end %>	
			</td>
		<% end %>		
	</tr>	
	<% end %>
<% end %>
	<tr>
		<td style="font-weight:bold">comment</td>
		<% @schedules.each do |s| %>
	  <td><% s.comments.each do |c|%>
					<%=	c.comment_category.name %>
					<%=	c.content %>
	  	  <% end %>
	  </td>	  
		<% end %>
	</tr>

</table>	


