<h1><%= @target.user.first_name %>近期行程</h1>
<h3>居家服務員：<%= @related_user.user.first_name %></h3>
<table class="table table-bordered">	
<tr>
	<th width=10% ></th>
<% @schedule_dates.each do |d| %>
	<th class= "text-center" style="font-weight:normal"><%= d %></th>
<% end %>
</tr>

<% TimeZone.all.each do |t| %>
	<% if @timezones.include?(t) %>
	<tr>
		<td><%= t.to_time  %></td>
		<% @schedule_dates.each do |d| %> 
			<td style="font-weight:bold" >
			<% @schedules.where(:scheduled_date => d).each do |s| %>
				<% Event.where(:schedule => s, :time_zone => t).each do |e| %>

				<%# if current_user.requester %>
					<%#= e.schedule.caregiver.user.first_name	 %>
				<%# else %>
					<%#= e.schedule.requester.user.first_name	 %>
				<%# end %>
				
					<% e.try(:demands).try(:each) do |d| %>
						<%= d.demand_name %><br>
					<% end %>		
				<% end %>	
			<% end %>
			</td>
		<% end %>		
	</tr>	
	<% end %>
<% end %>


	<tr>
		<td style="font-weight:bold">
		 行程意見
		<%= form_tag("schedule_path(current_user)", method: :patch ) do %>
	
		<%#= form_for @schedules, :url=>schedule_path(current_user) do |f| %>
		</td>
		<% @schedule_dates.each do |d| %>
		  <td>
				<% @schedules.where(:scheduled_date => d).each do |s| %>
				<% if s.requester_confirmed != nil %>
			  	<% if s.requester_confirmed == true %>
			  		同意
			  	<% else %>
			  		不同意
			  	<% end %>
			  	<%#= s.requester_confirmed %>
			  	<%#= select_tag "confirmed", options_for_select( "y", "n"),:class => "form-control" %>
				<% else %>
					<div class="form-group">  
			  	<%= select_tag s.id,options_for_select([['同意',true],['不同意',false]],s.id),:class => "form-control"  %>
			  	</div>
			  <% end %>	
			
			  	<%#= select_tag "confirmed","<option>同意</option><option>不同意</option>".html_safe %>
			  <%#= f.select(:caregiver_confirmed, [['同意',true],['不同意',false]], :class => "form-control") %>		

			 </td>	
			<% end %>    
		<% end %>
		</tr>
		<%#= f.submit %>		
		

<div>
	<tr>
		<td style="font-weight:bold">留言</td>
		<% @schedule_dates.each do |d| %>
		  <td>
				<% @schedules.where(:scheduled_date => d).each do |s| %>
			  	<% s.comments.each do |c|%>
						<%=	c.comment_category.name %>:
						<%=	c.content %><br>
						by: <%=	User.find(c.user_id).first_name %><br>
			  	 <% end %>
			 </td>	
			<% end %>    
		<% end %>
	</tr>
</div>		
</table>	
	<% if Schedule.find(@schedule_ids).pluck(:requester_confirmed).include?(nil) %>
		<div class="form-group">
			<%= hidden_field_tag "ids",@schedule_ids  %> 
			<%= submit_tag "行程確認",:class => "btn btn-default" %>
		</div>
	<% end %>
	<% end %>
<div>
<%= link_to "新增留言", new_comment_path(:related_id => @related_user.id),:class =>"btn btn-default" %>
</div>

