<div class= "text-center" style="margin-bottom:55px;margin-top:30px;" >
	<h2 style="font-weight:bold">健康資料</h2>
</div>


<div class="panel panel-default " >
	<div class="panel-heading" style="background-color:#F9FAFA;">
		<h3 class="text-center">基本體況</h3>
		<p style="margin-left:30px">
		姓名： <%= @requester.user.full_name %><br>
		性別：
		<% if @requester.user.gender="F" %>
			女
		<% else %>
			男
		<% end %>
		<br>
		年齡： <%= @requester.user.age %><br>
		身體狀況：<%= @requester.condition_description %><br>
		</p>
	</div>
</div>

<div class="panel panel-default " >
	<div class="panel-heading" style="background-color:#F9FAFA;">
		<h3 class="text-center">血壓</h3>
		<div id="chart1">
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading"  style="background-color:#F9FAFA;">
		<h3 class="text-center">心跳</h3>
		<div id="chart2">
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading"  style="background-color:#F9FAFA;">
		<h3 class="text-center">血糖</h3>
		<div id="chart3">
		</div>
	</div>
</div>

<script>
	var arr1= <%= @requester.systolic %>
	arr1.unshift("systolic")
	var arr2= <%= @requester.diastolic %>
	arr2.unshift("diastolic")
	var arr3 = <%= @requester.rec_day.to_json.html_safe %>
	arr3.unshift("x")
	var chart = c3.generate({
	    bindto: '#chart1',
	    data: {
	    	x: 'x',
	      columns: [
	      arr3, 
	      arr1,
	      arr2
	      ],
	      onclick: function (d, i) { 
	      	date = new Date(d.x);
	      	var newDate = date.getFullYear() + "-" + (date.getMonth()+1) + "-" + date.getDate()
	      	console.log(newDate)
	    		window.location.href = "/schedules"+ "/<%= @requester.id %>/"+newDate
	      },
	    },
	    axis: {
	        x: {
	            type: 'timeseries',
	            tick: {
	                format: '%Y-%m-%d'
	            }
	        }
	    }
	});

	var arr4= <%= @requester.heart_rates %>
	arr4.unshift("heart rate")
	var chart = c3.generate({
	    bindto: '#chart2',
	    data: {
	    	x: 'x',
	      columns: [
	      arr3, 
	      arr4
	      ],
	      onclick: function (d, i) { 
	      	date = new Date(d.x);
	      	var newDate = date.getFullYear() + "-" + (date.getMonth()+1) + "-" + date.getDate()
	      	console.log(newDate)
	    		window.location.href = "/schedules"+ "/<%= @requester.id %>/"+newDate
	      },
	    },
	    axis: {
	        x: {
	            type: 'timeseries',
	            tick: {
	                format: '%Y-%m-%d'
	            }
	        }
	    }
	});

var arr5= <%= @requester.blood_sugars %>
	arr5.unshift("blood sugar")
	var chart = c3.generate({
	    bindto: '#chart3',
	    data: {
	    	x: 'x',
	      columns: [
	      arr3, 
	      arr5
	      ],
	      onclick: function (d, i) { 
	      	date = new Date(d.x);
	      	var newDate = date.getFullYear() + "-" + (date.getMonth()+1) + "-" + date.getDate()
	      	console.log(newDate)
	    		window.location.href = "/schedules"+ "/<%= @requester.id %>/"+newDate
	      },
	    },
	    axis: {
	        x: {
	            type: 'timeseries',
	            tick: {
	                format: '%Y-%m-%d'
	            }
	        }
	    }
	});



</script>