<!DOCTYPE html>
<html>
  <head>
    <title>TechcareV1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  

    <nav class="navbar">
      <div class="row">
        <div id="logo" class="col-md-1">
          <%= image_tag("logo_v2.png") %>
        </div>
        <div class="middle col-md-2">
          <h2>長照守護家</h2>
        </div>
        <div class="col-md-7"></div>
        <div class="user col-md-1">          
        </div>
        <div class="middle col-md-1">
        </div>
      </div>
    </nav>  
    <div class="container">
    <%= yield %>
  </div>  
  </body>
</html>
